$darkCyan: hsl(183, 100%, 15%);
$inputColor: hsl(189, 41%, 97%);
$hoverCyan: hsl(185, 69%, 76%);
$descriptionColor: hsl(186, 14%, 43%);
$selectedBtnColor: hsl(172, 67%, 45%);
$iconColor: hsl(184, 14%, 56%);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: {
        family: 'Space Mono', monospace;
        size: 25px;
    } 
}

body{
    background-color:  hsl(185, 41%, 84%) !important;
}

#title{
    margin: 60px 0;

    text: {
        transform: uppercase;   
        align: center;
    }

    font-weight: 700;
    letter-spacing: 10px;
    color: hsl(186, 14%, 39%);
}

#calculator-section{
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}

.description-text{
    color: $descriptionColor;
    font-weight: 700;
    margin-bottom: 10px;
}

.percent-btn{
    text-align: center;
    background-color: $darkCyan;
    color: white;
    height: 50px;
    border-radius: 5px;
    padding-top: 6px;
    font-weight: 700;
    transition: 0.3s;

    &:hover{
        transition: 0.3s;
        background-color: $hoverCyan;
        color: $darkCyan;
        cursor: pointer;
    }

    &:active{
        background-color: $darkCyan;
    }
}

.selected-percent{
    background-color: $selectedBtnColor;
    color: $darkCyan;
}

.col-6{
    height: 70px !important;
}

label{
    position: absolute;
    top: 52px;
    left: 35px;
    color: $iconColor;
}

.fas{
    position: absolute;
    bottom: 30px;
    left: 35px;
    font-size: 20px;
    color: $iconColor;
}

input{
    text-align: right;
    padding: 20px;
    color: $darkCyan !important;
    font-weight: 700;
    border-radius: 5px;
    width: 100%;
    background-color: $inputColor;
    border: none;
    outline: none;
    height: 50px;

    &:hover{
        border: 3px solid  $hoverCyan;
        cursor: pointer;
    }
}

#custom-tip{
    background-color: $inputColor;
    border: none;
    outline: none;
    padding: 0 !important;

    &:hover{
        border: 3px solid  $hoverCyan;
        cursor: pointer;
    }
}

#bill-input{
    margin-bottom: 25px;
}

#result-section{
    background-color: $darkCyan;
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
}

.main-txt{
    margin-bottom: 0 !important;
    font-weight: 700;
}

.person-txt{
    color:  hsl(184, 14%, 56%);
}

.result-section-text{
    font-size: 15px;
}

.total-money{
    float: right;
    position: relative;
    bottom: 70px;
    font-weight: 700;
    color: $selectedBtnColor;
}

button{
    width: 100%;
    border: none !important;
    outline: none !important;
    height: 55px;
    border-radius: 10px !important;
    color: $darkCyan;
    font-weight: 700;
    opacity: 0.3;
    background-color: $selectedBtnColor;
    transition: 0.2s;

    &:hover {
        transition: 0.2s;
        background-color: $hoverCyan;
    }
}

.col-auto{
    padding-bottom: 0 !important;
}

.error-message{
    display: none;
    font-size: 15px;
    position: relative;
    top: 9px;
    font-weight: 700;
    color: rgb(219, 79, 79);
}

@media only screen and(max-width: 450px){
    .total-money{
        font-size: 30px !important;
    }
}

@media only screen and(max-width: 767px){

}


@media only screen and(min-width: 768px){
    #calculator-section{
        margin: 0 auto;
        max-width: 1000px;
    }

    #result-section{
        margin-top: 0;
        padding: 74px 30px;
    }

    button{
        position: relative;
        top: 45px;
    }
}



